.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100svh;
  height: 100%;
  padding: 20px;
  width: 100%;
}

.footer {
  width: 100%;
}

.start_link {
  text-decoration: none;
  width: 100%;
}

.start_button {
  border: none;
  font-size: 16px;
  width: 100%;
  background: white;
  border-radius: 19px;
  cursor: pointer;
  height: 60px;
  font-weight: 400;
  color: black;
}

.continue_button {
  font-size: 16px;
  width: 100%;
  font-weight: 400;
  border-radius: 19px;
  background: transparent;
  color: white;
  border: white 1px solid;
  cursor: pointer;
  height: 60px;
}

.swiperContainer {
  width: 100%;
  height: 80svh;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
}

.swiperContainer :global(.swiper-pagination-bullet) {
  background-color: #B488F2 !important;
}
