.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  padding: 20px;
  width: 100%;
  justify-content: space-between;
}

.animation_container {
  width: 30px;
}

.prompt {
  font-size: 19px;
  margin-bottom: 40px;
  text-align: center;
}

.header_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.continue_button {
  border: none;
  font-size: 16px;
  width: 100%;
  background: white;
  border-radius: 19px;
  cursor: pointer;
  height: 60px;
  font-weight: 400;
}
