.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.animation_container {
  width: 155px;
}

.text {
  text-align: center;
  font-size: 22px;
}
