.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
  padding: 20px;
  width: 100%;
}

.header_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-grow: 1;
}

.prompt {
  font-size: 19px;
  margin-bottom: 40px;
}

.input_container {
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  padding: 15px;
  background-color: transparent;
  border: 1px solid #555;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  height: 60px;
  border-radius: 19px;
}

.input:active,
.input:focus {
  outline: none;
  border-color: #888;
}

.animation_container {
  width: 30px;
}

.next_button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: #FFFFFF99;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.next_icon {
  transform: rotate(90deg);
}

.input_error {
  border-color: red !important;
}

.error_message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  text-align: left;
  width: 100%;
}
